html{
	position: relative;
}
body{
	margin-bottom: 120px;
	margin-top: 50px;
}
.jumbotron{
	background-image: url('img/haeder.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: white;
	height: 500px;
}
.jumbotron img {
	width: 200px;
	border: 7px solid #666;
	box-shadow: 4px 4px 0px rgba(0,0,0,0.5);
	}

.jumbotron h1{
	text-shadow: 4px 4px 0px rgba(0,0,0,0.5);
	font-family: 'times new roman';
}

hr {
	width: 250px;
	border-top: 3px solid #999;
}
section {
	min-height: 900px;
}
.portofolio {
	background-color: #eee;
}
.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 30px;

}

footer p{
	color: #aaa;
	font-size: 0.9em;

}